*{
  margin: 0;
padding: 0;
box-sizing: border-box;;
}

body{
  background: url('../img/bg.png');
  background-size: cover;
  background-attachment: fixed;/*evita que se mueva el fondo*/

}

a{
  text-decoration: none;

}

.contenedor{
  width: 90%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.tarjeta{
  background: #fff;
  margin: 40px 0px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}


/*Barnner*/

.slider_banner{
  overflow: hidden;
  z-index: 1000;
  position: relative;
}
.slider_banner .banner{
  position: relative;
  width: 100%;
}

.slider_banner .banner img{
  vertical-align: top; /*Elimina espaciado entre imagenes.. en la parte de arriba*/
  width: 100%;
  position: absolute; /*montara las imagenes una encima de otra.*/
  top:0;
  left: 100%;

}

.slider_banner .flecha-banner{
  font-size: 35px;
  line-height:35px;
  color: rgba(0,0,0,.2);
  position: absolute;
  top:50%;
  z-index: 1100;
}

.slider_banner .flecha-banner:hover{
  color:rgba(0,0,0,.5);
}
.slider_banner .anterior{
  left:20px;
}

.slider_banner .siguiente{
  right: 20px;
}